<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOwDeCDihiKUDwqqb_-fi3f_PVR1sKuCc</string>
	<key>GCM_SENDER_ID</key>
	<string>814478164413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avecMoiWithUs</string>
	<key>PROJECT_ID</key>
	<string>avec-moi-with-us</string>
	<key>STORAGE_BUCKET</key>
	<string>avec-moi-with-us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814478164413:ios:d5ea5b093a544fc71952d4</string>
</dict>
</plist>